body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-colour: hsl(155, 62%, 56%);
  --background-colour: hsl(39, 25%, 6%);
  --purple: hsl(300 50% 50%);
  --blue: #16a9f2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100%;
}

@font-face {
  font-family: "Hylian Serif";
  src: url("/public/HyliaSerifBeta-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Red Hat Display";
  src: url("/public/RedHatDisplay.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
