.reveal-viewport {
  background-color: var(--background-colour);
}

.reveal.slide {
  color: white;
  --r-heading-font: "Hylian Serif", serif;
  --r-heading-color: var(--primary-colour);
  --r-heading-text-transform: none;
}

.reveal.slide .inverse {
  --r-heading-color: var(--background-colour);
  color: var(--background-colour);
}

.slides > section[data-transition="slide-up"].future {
  transform: translateY(150%);
}

cite.footnote {
  display: block;
  font-size: 0.8em;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateY(150%);
}

.fragment.fade {
  visibility: visible;
  opacity: 1;
}
.fragment.fade.current-fragment {
  opacity: 0.4;
}
.fragment.strike.visible {
  opacity: 0.4;
}

pre.background tr {
  opacity: 0.4;
}

code.hljs table {
  background: inherit;
  width: 100%;
}
